<a href="https://colab.research.google.com/github/Ciiku-Kihara/AUTOLIB_DATA_ANALYSIS/blob/main/IP_Week_4_Python_Notebook_Faith_Kihara_2021_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing Libraries**

In [1]:
#Importing the pandas library

import pandas as pd

#Importing the numpy library

import numpy as np

**Loading our dataset**

In [9]:
#Loading the autolib dataset

auto = pd.read_csv('autolib_dataset.csv', delimiter=',')

**Previewing our dataset**

In [10]:
# Previewing the first 10 rows of the autolib dataset

auto.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]

**Information on the dataframe**

In [11]:
# Getting a feel of our auto dataframe

auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

#**Data cleaning**

 **Validity**

In [12]:
# Removing the columns that will not be necessary in analysis

auto.drop(['Scheduled at','Displayed comment','Geo point','Charging Status','Subscription status'], axis=1, inplace=True)

auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Address             5000 non-null   object
 1   Cars                5000 non-null   int64
 2   Bluecar counter     5000 non-null   int64
 3   Utilib counter      5000 non-null   int64
 4   Utilib 1.4 counter  5000 non-null   int64
 5   Charge Slots        5000 non-null   int64
 6   City                5000 non-null   object
 7   ID                  5000 non-null   object
 8   Kind                5000 non-null   object
 9   Postal code         5000 non-null   int64
 10  Public name         5000 non-null   object
 11  Rental status       5000 non-null   object
 12  Slots               5000 non-null   int64
 13  Station type        5000 non-null   object
 14  Status              5000 non-null   object
 15  year                5000 non-null   int64
 16  month               5000 non-null   int64
 17  day                 5000 non-null   int64
 18  hour                5000 non-null   int64
 19  minute              5000 non-null   int64
dtypes: int64(12), object(8)
memory usage: 781.4+ KB

**Uniformity**

In [13]:
# Converting all column names to lower case and removing 
# any white spaces and gaps

auto.columns = auto.columns.str.strip().str.lower().str.replace(' ','_').str.replace('.','')

auto.head()

                              address  cars  bluecar_counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 20 columns]

**Consistency**

In [14]:
# Checking for duplicates

auto.duplicated()

# Since the dataframe is very large we drop duplicates if any exist

auto.drop_duplicates()

                                 address  cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 20 columns]

**Completeness**

In [15]:
# Checking for any null values

auto.isnull().sum()

# There are no null values so there is no need to drop anything

address              0
cars                 0
bluecar_counter      0
utilib_counter       0
utilib_14_counter    0
charge_slots         0
city                 0
id                   0
kind                 0
postal_code          0
public_name          0
rental_status        0
slots                0
station_type         0
status               0
year                 0
month                0
day                  0
hour                 0
minute               0
dtype: int64

**Accuracy**

In [17]:
# Determining if any of the electric cars or parking slots are greater
# than 7 and charge slots greater than 3

outside_range = auto.loc[(auto['bluecar_counter'] > 7) | (auto['utilib_counter'] > 4) | (auto['utilib_14_counter'] > 5) |
                         (auto['slots'] > 7) | auto['charge_slots'] > 3]

outside_range

Empty DataFrame
Columns: [address, cars, bluecar_counter, utilib_counter, utilib_14_counter, charge_slots, city, id, kind, postal_code, public_name, rental_status, slots, station_type, status, year, month, day, hour, minute]
Index: []

#**Data Analysis**

1. What is the most popular hour of the day for picking up a shared electric car in the city of Paris in the month of April 2018

In [18]:
# subsetting our dataframe to answer the question.

autosub = auto.loc[(auto['city'] == 'Paris') & (auto['rental_status'] == 'operational') & 
                     (auto['kind'] != 'CENTER') & (auto['year'] == 2018) & (auto['month'] == 4)]

autosub.head()

                              address  cars  bluecar_counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2

[5 rows x 20 columns]

In [26]:
# Sorting the dataframe by hour, minute and  station id

autosub = autosub.sort_values(['id','hour', 'minute'])
autosub.head()

                       address  cars  ...  minute  bluecar_diff
911   8 Place du 25 AoÃ»t 1944     3  ...      10           2.0
2848  8 Place du 25 AoÃ»t 1944     0  ...      23          -2.0
1891  8 Place du 25 AoÃ»t 1944     4  ...      37           1.0
2312  8 Place du 25 AoÃ»t 1944     2  ...      49           1.0
710   8 Place du 25 AoÃ»t 1944     1  ...      40           0.0

[5 rows x 21 columns]

In [27]:
# Getting the difference between subsequent rows per station
# to get the most popular pick up and drop off times

autosub['bluecar_diff'] = autosub.groupby('id')['bluecar_counter'].diff()

autosub

                       address  cars  ...  minute  bluecar_diff
911   8 Place du 25 AoÃ»t 1944     3  ...      10           NaN
2848  8 Place du 25 AoÃ»t 1944     0  ...      23          -3.0
1891  8 Place du 25 AoÃ»t 1944     4  ...      37           4.0
2312  8 Place du 25 AoÃ»t 1944     2  ...      49          -2.0
710   8 Place du 25 AoÃ»t 1944     1  ...      40          -1.0
...                        ...   ...  ...     ...           ...
2110            24 Rue Vulpian     1  ...      58           0.0
3622            24 Rue Vulpian     3  ...      24           2.0
3055            24 Rue Vulpian     2  ...      32          -1.0
546        77 Avenue de Wagram     2  ...       7           NaN
2329       77 Avenue de Wagram     0  ...      24          -2.0

[2629 rows x 21 columns]

In [31]:
# Filling all the null values created from the new column created

autosub = autosub.fillna(0)
autosub.head()

                       address  cars  ...  minute  bluecar_diff
911   8 Place du 25 AoÃ»t 1944     3  ...      10           0.0
2848  8 Place du 25 AoÃ»t 1944     0  ...      23          -3.0
1891  8 Place du 25 AoÃ»t 1944     4  ...      37           4.0
2312  8 Place du 25 AoÃ»t 1944     2  ...      49          -2.0
710   8 Place du 25 AoÃ»t 1944     1  ...      40          -1.0

[5 rows x 21 columns]

In [32]:
# Most popular hour to pick up an electric blue car
# when bluecar_diff is negative

autopick_blue = autosub.loc[autosub['bluecar_diff'] < 0]

autopick_blue['hour'].mode()

0    17
1    21
2    22
dtype: int64

2. The most popular hour for returning the blue cars

In [33]:
# Most popular hour to drop an electric blue car
# when bluecar diff is positive

autodrop_blue = autosub.loc[autosub['bluecar_diff'] > 0]

autodrop_blue['hour'].mode()

0    19
dtype: int64

3(a). What station is the most popular overall

In [34]:
# Determining the station that is the most popular overall
# in for picking blue cars


autopick_blue['id'].value_counts().head(1)

paris-voltaire-182    6
Name: id, dtype: int64

3(b) What station is most popular at the most popular picking hour

In [40]:
# Determining the station that is the most popular overall
# in for picking cars at the most popular hour(assuming that our most popular hour is 21)

popstation21 = autopick_blue.loc[(autopick_blue['hour'] == 21)]

popstation21['id'].value_counts().head(1)

paris-voltaire-182    2
Name: id, dtype: int64

4(a) What postal code is the most popular for picking up blue cars overall

In [41]:
# Choosing the postal code that was the most populat for picking blue cars

autopick_blue['postal_code'].value_counts().head(1)

75015    83
Name: postal_code, dtype: int64

4(b) What postal code is the most popular for picking up blue cars at the most popular picking hour

In [42]:
# Determining the postal code that is the most popular in the 21st hour  
# 

popstation21['postal_code'].value_counts().head(1)

75014    5
Name: postal_code, dtype: int64

4(c) Do the most popular stations belong to the postal codes

In [43]:
 # Determining if paris-voltaire-182 belongs to code 
 # 75015 or 75014

postal_015 = autosub.loc[autosub['id'] == 'paris-voltaire-182']
postal_015.head(1)

# paris-voltaire-182 does not belong to code 75015 or 75014

                     address  cars  bluecar_counter  ...  hour  minute  bluecar_diff
2161  182 Boulevard Voltaire     4                4  ...     4       1           0.0

[1 rows x 21 columns]

**Utilib analysis**

 1. What is the most popular hour of the day for picking up a Utilib in the city of Paris in the month of April 2018

In [44]:
# Getting the difference between subsequent rows per station
# to get the most popular pick up and drop off times

autosub['utilib_diff'] = autosub.groupby('id')['utilib_counter'].diff()

autosub.head()

                       address  cars  ...  bluecar_diff  utilib_diff
911   8 Place du 25 AoÃ»t 1944     3  ...           0.0          NaN
2848  8 Place du 25 AoÃ»t 1944     0  ...          -3.0          0.0
1891  8 Place du 25 AoÃ»t 1944     4  ...           4.0          0.0
2312  8 Place du 25 AoÃ»t 1944     2  ...          -2.0          0.0
710   8 Place du 25 AoÃ»t 1944     1  ...          -1.0          0.0

[5 rows x 22 columns]

In [45]:
# Filling all the null values created from the new column created

autosub = autosub.fillna(0)
autosub.head()

                       address  cars  ...  bluecar_diff  utilib_diff
911   8 Place du 25 AoÃ»t 1944     3  ...           0.0          0.0
2848  8 Place du 25 AoÃ»t 1944     0  ...          -3.0          0.0
1891  8 Place du 25 AoÃ»t 1944     4  ...           4.0          0.0
2312  8 Place du 25 AoÃ»t 1944     2  ...          -2.0          0.0
710   8 Place du 25 AoÃ»t 1944     1  ...          -1.0          0.0

[5 rows x 22 columns]

In [46]:
# Most popular hour to pick up a utilib car
# when utilib_diff is negative

autopick_utilib = autosub.loc[autosub['utilib_diff'] < 0]

autopick_utilib['hour'].mode()

0    19
dtype: int64

2. The most popular hour for returning the utilib car

In [47]:
# Most popular hour to drop an utilib car
# when utilib diff is positive

autodrop_utilib = autosub.loc[autosub['utilib_diff'] > 0]

autodrop_utilib['hour'].mode()

0    6
dtype: int64

3(a). What station is the most popular overall

In [50]:
# Determining the station that is the most popular overall
# in for picking utilib cars


autopick_utilib['id'].value_counts().head(1)

paris-portedemontrouge-8    3
Name: id, dtype: int64

3(b) What station is most popular at the most popular picking hour

In [52]:
# Determining the station that is the most popular overall
# in for picking cars at the most popular hour(19)

popstation19 = autopick_utilib.loc[(autopick_utilib['hour'] == 19)]

popstation19['id'].value_counts()

paris-arrivee-16            1
paris-clichy-181            1
paris-gambetta-19           1
paris-henribarbusse-66      1
paris-saintdenis-91         1
paris-charonne-52           1
paris-brunel-42             1
paris-portedemontrouge-8    1
paris-dalayrac-19           1
paris-segur-55              1
paris-pommard-7             1
Name: id, dtype: int64

4(a) What postal code is the most popular for picking up utilib cars overall

In [55]:
# Choosing the postal code that was the most popular for picking utilib cars

autopick_utilib['postal_code'].value_counts().head()

75016    13
75015    13
75017    11
75013    11
75020    10
Name: postal_code, dtype: int64

4(b) What postal code is the most popular for picking up utilibs at the most popular picking hour

In [56]:
popstation19['postal_code'].value_counts().head()

75020    2
75017    2
75014    2
75007    1
75002    1
Name: postal_code, dtype: int64

In [57]:
# Determining which code paris-portedemontrouge-8 belongs t0

postal = autosub.loc[autosub['id'] == 'paris-portedemontrouge-8']
postal.head(1)

                                address  cars  ...  bluecar_diff  utilib_diff
4490  8 Avenue de la Porte de Montrouge     6  ...           0.0          0.0

[1 rows x 22 columns]

**Utilib 1.4 analysis**

1. What is the most popular hour of the day for picking up a Utilib 1.4 in the city of Paris in the month of April 2018

In [58]:
# Getting the difference between subsequent rows per station
# to get the most popular pick up and drop off times

autosub['utilib14_diff'] = autosub.groupby('id')['utilib_14_counter'].diff()

autosub.head()

                       address  cars  ...  utilib_diff  utilib14_diff
911   8 Place du 25 AoÃ»t 1944     3  ...          0.0            NaN
2848  8 Place du 25 AoÃ»t 1944     0  ...          0.0            0.0
1891  8 Place du 25 AoÃ»t 1944     4  ...          0.0            0.0
2312  8 Place du 25 AoÃ»t 1944     2  ...          0.0            0.0
710   8 Place du 25 AoÃ»t 1944     1  ...          0.0            0.0

[5 rows x 23 columns]

In [59]:
# Filling all the null values created from the new column created

autosub = autosub.fillna(0)
autosub.head()

                       address  cars  ...  utilib_diff  utilib14_diff
911   8 Place du 25 AoÃ»t 1944     3  ...          0.0            0.0
2848  8 Place du 25 AoÃ»t 1944     0  ...          0.0            0.0
1891  8 Place du 25 AoÃ»t 1944     4  ...          0.0            0.0
2312  8 Place du 25 AoÃ»t 1944     2  ...          0.0            0.0
710   8 Place du 25 AoÃ»t 1944     1  ...          0.0            0.0

[5 rows x 23 columns]

In [60]:
# Most popular hour to pick up a utilib 1.4 car
# when utilib_diff is negative

autopick_utilib14 = autosub.loc[autosub['utilib14_diff'] < 0]

autopick_utilib14['hour'].mode()

0    10
dtype: int64

2. The most popular hour for returning the utilib 1.4 car

In [61]:
# Most popular hour to drop an utilib 1.4 car
# when utilib14 diff is positive

autodrop_utilib14 = autosub.loc[autosub['utilib14_diff'] > 0]

autodrop_utilib14['hour'].mode()

0     9
1    17
2    21
dtype: int64

3(a). What station is the most popular overall

In [62]:
# Determining the station that is the most popular overall
# in for picking utilib 1.4 cars


autopick_utilib14['id'].value_counts().head()

paris-portedemontrouge-8        3
paris-belleville-22             3
paris-mathis-35                 3
paris-gouvionmaillot-parking    3
paris-macmahon-5                2
Name: id, dtype: int64

3(b) What station is most popular at the most popular picking hour

In [66]:
# Determining the station that is the most popular overall
# in for picking cars at the most popular hour(10)

popstation10 = autopick_utilib14.loc[(autopick_utilib14['hour'] == 10)]

popstation10['id'].value_counts()

paris-secretan-4                       1
paris-galvani-25                       1
paris-remusat-8                        1
paris-cardinet-parking                 1
paris-georgeslafenestre-11             1
paris-faubourgsaintmartin-203          1
paris-macmahon-5                       1
paris-charlesfillion-22                1
paris-henrybrisson-5                   1
paris-batignolles-92                   1
paris-marieandreelagrouaweilhalle-2    1
paris-fredericloliee-5                 1
paris-mathis-35                        1
paris-hopital-47                       1
paris-tolbiac-145                      1
paris-meurthe-1                        1
paris-ramey-62                         1
Name: id, dtype: int64

4(a) What postal code is the most popular for picking up utilib 1.4 cars overall

In [65]:
# Choosing the postal code that was the most popular for picking utilib 1.4 cars

autopick_utilib14['postal_code'].value_counts().head(1)

75017    25
Name: postal_code, dtype: int64

4(b) What postal code is the most popular for picking up utilib 1.4 at the most popular picking hour

In [67]:
popstation10['postal_code'].value_counts().head()

75017    5
75019    3
75013    3
75018    2
75020    1
Name: postal_code, dtype: int64